@import "../../../sass/variables.scss";

.navbar_search_wrapper {
  height: 100px;
  @include flex-around;
  font-family: $open-sans;

  .logo {
    @include flex-center;

    img {
      height: 80px;
      width: 144px;
    }
  }
  .zip {
    @include flex-column;
    p {
      margin: 0;
    }
    h5 {
      margin: 0;
    }
  }
  .navbar_search_input {
    position: relative;
    input {
      width: 420px;
      height: 40px;
      border-radius: 50px;
      border: 1px solid rgb(232, 232, 232);
      padding: 0 30px;
    }

    .icon {
      position: absolute;
      right: 20px;
      bottom: 5px;
      color: rgb(94, 91, 91);
      font-size: 24px;
    }
  }
  .navbar_links_wrapper {
    @include flex-around;
    p {
      margin: 0 5px;
      width: 85px;
      font-size: 14px;
    }
    .cart_icon {
      @include flex-around;
      font-size: 24px;
      padding: 0;
      button {
        margin: 0;
        width: 30px;
      }
    }
  }
}
