@import "../../sass/variables.scss";

.carousal_wrapper {
  padding: 0 0 20px 0;
  width: 100%;
  @include flex-column;
  .carousal {
    width: 95%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 0;
  }
}
